# =========================
# Pasta de arquivo local
# =========================
BollingerARPA/
# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# =========================
# VIRTUAL ENV
# =========================
.env
.env.*
venv/
.venv/
ENV/
env/
.python-version

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEST / CACHE
# =========================
.cache/
pytest_cache/

# =========================
# RAILWAY
# =========================
railway.toml

